@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .top-navbar{
    @apply bg-green-300 w-full h-16 flex items-center justify-between absolute gap-2 border-[2px] border-black  border-r-8 border-b-8;
  }
  .widget{
    @apply rounded-3xl gap-y-5 border-2 border-black border-r-8 border-b-8;
  }
  .orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
    color:purple;
    padding-top: 0.5rem;
  }

  /* documentation page */
  .list{
    @apply list-disc space-y-2 px-2;
  }
  .left-sidebar{
    @apply bg-white px-4 py-20 border-r-4 border-black sticky h-screen w-[200px] flex-col top-[63px] bottom-0 justify-between hidden md:flex;
  }
  section ol{
    @apply list-decimal px-5;
  }
  #main-doc{
    @apply leading-loose flex flex-col overflow-auto;
  }
  .main-section{
    @apply m-2 py-20 shadow-2xl px-5;
  }
  .main-section header{
    @apply font-bold mt-5 text-4xl;
  }
  .main-section p{
    @apply px-3 text-justify;
  }
  .main-section ol{
    @apply font-semibold mb-4;
  }
  .main-section h1{
    @apply font-semibold p-2 bg-green-300 mb-2  border-[2px] border-black  border-r-8 border-b-8 text-xl;
  }
  .main-section h2{
    @apply text-red-600 font-bold p-2
  }
  .btn-doc{
    @apply cursor-pointer py-3 px-4 bg-green-400 text-sm text-center  text-black font-bold rounded-3xl border-black border-r-4 border-b-4;
  }

  /* Testing box Page*/
  .testbox{
    @apply bg-white border-4 border-black shadow-xl p-4 m-4 ;
  }
  .testbox-font{
    @apply sm:text-lg text-sm;
  }

  /* lang-compiler page */
  .textareay{
    @apply absolute top-0 left-0 w-full h-full bg-gray-800 text-green-400 p-4 rounded-lg border border-gray-600 font-mono whitespace-pre-wrap overflow-hidden pointer-events-none;
  }
}
