@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .top-navbar{
    @apply bg-green-300 w-full h-16 flex items-center justify-between absolute gap-2 border-[2px] border-black  border-r-8 border-b-8;
  }
  .widget{
    @apply rounded-3xl gap-y-5 border-2 border-black border-r-8 border-b-8;
  }
  .orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
    color:blueviolet;
    padding-top: 0.5rem;
  }

  /* documentation page */
  .list{
    @apply list-disc bg-blue-400 px-5;
  }
  section ol{
    @apply list-decimal px-5;
  }
  #main-doc{
    @apply bg-green-900 h-screen;
  }
}
